Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ParagonLtBelica
Content/AdvancedMissionSys
Content/InfinityBladeAdversaries
Content/UI_Kit
Content/StarterContent
Content/Mannequin
Content/Sence